// base: tag selector styles
html, body {
    padding: 0;
    margin: 0;
    font-size: 16pt;
    font-family: $font;
}

h1 {
    padding: 0;
    margin: 0;
    line-height: $heading-line-height;
    color: $dark;
}

p {
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
    line-height: $body-line-height;
    color: $medium;
}

a {
    text-decoration: none;
    color: $red;
    box-shadow: 0 2px 0 0 $red;
}