html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16pt;
}

body {
  background-color: #f6f6f6;
}

h1 {
  color: #252525;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

p {
  color: #3f454b;
  margin: 0 0 12px;
  padding: 0;
  line-height: 1.6;
}

a {
  color: #2d7ddd;
  text-decoration: none;
  box-shadow: 0 3px;
}

img {
  width: 100%;
  display: block;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list .list-item {
  width: 100%;
  margin-bottom: 12px;
  display: block;
}

.list .list-item:last-child {
  margin-bottom: 0;
}

@media (min-width: 912px) {
  .list .list-item {
    width: auto;
    margin-right: 12px;
    display: inline-block;
  }

  .list .list-item:last-child {
    margin-right: 0;
  }
}

#rlogo {
  width: 125px;
  margin: 16px auto;
}

.main {
  width: 90%;
  margin: 32px auto;
}

.main h1 {
  text-align: center;
}

@media (min-width: 912px) {
  .main {
    max-width: 912px;
    box-sizing: content-box;
    background-color: #fff;
    border-radius: 6px;
    padding: 2em;
  }
}

