html,
body {
  padding: 0;
  margin: 0;
  font-size: 16pt;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #f6f6f6;
}

h1 {
  padding: 0;
  margin: 0;
  line-height: 1.2;
  color: #252525;
}

p {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  line-height: 1.6;
  color: #3f454b;
}

a {
  text-decoration: none;
  color: #2d7ddd;
  box-shadow: 0 3px 0 0 currentColor;
}

img {
  display: block;
  width: 100%;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.list .list-item {
  display: block;
  width: 100%;
  margin-bottom: 12px;
}
.list .list-item:last-child {
  margin-bottom: 0;
}

@media (min-width: 912px) {
  .list .list-item {
    display: inline-block;
    width: auto;
    margin-right: 12px;
  }
  .list .list-item:last-child {
    margin-right: 0;
  }
}
#rlogo {
  width: 125px;
  margin: 16px auto;
}

.main {
  width: 90%;
  margin: 32px auto;
}
.main h1 {
  text-align: center;
}

@media (min-width: 912px) {
  .main {
    max-width: 912px;
    box-sizing: content-box;
    padding: 2em;
    background-color: #ffffff;
    border-radius: 6px;
  }
}
